/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700&display=swap&subset=cyrillic");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  font-family: "Comfortaa";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
  padding-right: 17px;
}
.no-scroll .header {
  padding-right: 17px;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section {
  padding: 60px 0;
}
.section__title {
  margin: 0 0 30px;
  text-align: center;
  font-size: 38px;
  line-height: 1.4;
  color: #577bf9;
  font-weight: 500;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.section__title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  background: #577BF9;
  bottom: -15px;
  left: calc(50% - 30px);
}
.section__title.white::before {
  background: #fff;
}
.section__subtitle {
  color: #131340;
  font-size: 18px;
  line-height: 1.4;
  display: block;
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
}

.btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 40px;
  background: #577BF9;
  border-radius: 4px;
  border: 2px solid #577BF9;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}
.btn:hover {
  color: #577BF9;
  background: transparent;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 30px;
}
.check input {
  display: none;
}
.check input:checked ~ .check-custom::before {
  opacity: 1;
}
.check-custom {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background: transparent;
  border: 2px solid #577BF9;
  border-radius: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.check-custom::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #577BF9;
  border: 2px solid #fff;
  border-radius: 4px;
  opacity: 0;
}
.check-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #577BF9;
  display: block;
  text-align: left;
}
.check-text a {
  color: #577BF9;
}
.check-text a:hover {
  text-decoration: underline;
}

.file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.file input {
  display: none;
}
.file-custom {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: url(../images/icons.svg#file) no-repeat center, #577BF9;
  background-size: 24px 24px;
  border-radius: 4px;
}
.file-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #577BF9;
}

.header {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
}
.header-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 1px rgba(87, 123, 249, 0.2);
          box-shadow: 0 0 10px 1px rgba(87, 123, 249, 0.2);
  position: relative;
}
.header-logo {
  display: block;
  width: 100px;
  position: relative;
}
.header-logo span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #577bf9;
  letter-spacing: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-logo img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 24px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-logo:hover span {
  letter-spacing: -10px;
  color: transparent;
}
.header-logo:hover img {
  opacity: 1;
}

.banner__wrapper {
  position: relative;
  min-height: 100vh;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.banner__content {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__content_img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 38%;
  height: auto;
  display: block;
  margin-left: 30px;
  pointer-events: none;
}
.banner__content_span {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #7C7C7C;
}
.banner__content_name {
  display: block;
  margin: 10px 0 30px;
  font-weight: 500;
  font-size: 55px;
  line-height: 1.3;
  color: #577BF9;
}
.banner__content_desc {
  display: block;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.4;
  color: #577BF9;
}
.banner__header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.banner__header_link {
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #577BF9;
  padding-left: 34px;
  background: url(../images/icons.svg#mail) no-repeat left 3px;
  background-size: 24px 16px;
}
.banner__header_link:hover {
  text-decoration: underline;
}
.banner__socials {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.banner__socials_item {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.banner__socials_item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.banner__socials_item--telegram {
  background-image: url(../images/icons.svg#telegram);
}
.banner__socials_item--kwork {
  background-image: url(../images/kwork.png);
}
.banner__socials_item--github {
  background-image: url(../images/icons.svg#github);
}
.banner__socials_item--email {
  background-image: url(../images/icons.svg#mail);
}
.banner__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__footer_item {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 165px;
  height: 160px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #577BF9;
  border-radius: 72px;
}
.banner__footer_item:first-child {
  border-radius: 0 72px;
}
.banner__footer_item:last-child {
  border-radius: 72px 0;
}
.banner__footer_item strong {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  width: 100%;
}
.banner__footer_item span {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.instrument {
  display: block;
  width: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 16px 32px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.instrument:hover {
  opacity: 0.8;
}
.instrument img {
  margin: 0 auto;
  display: block;
}
.instrument-block {
  text-align: center;
}
.instruments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -32px;
}

.service {
  padding: 0 10px;
  width: 25%;
  position: relative;
  z-index: 10;
}
.service-container {
  background: #577BF9;
  -webkit-box-shadow: 0px 4px 6px rgba(87, 123, 249, 0.25);
          box-shadow: 0px 4px 6px rgba(87, 123, 249, 0.25);
  border-radius: 5px;
  height: 100%;
}
.service__text {
  padding: 0 25px 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.service__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.service__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 80px;
  height: 80px;
  margin-left: 20px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}

.day-night {
  position: relative;
}

:root {
  /** sunny side **/
  --blue-background: #C2E9F6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue-background);
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.toggle--checkbox {
  display: none;
}

.toggle--checkbox:checked {
  /** This will all flip from sun to moon **/
  /** Change the label color **/
}

.toggle--checkbox:checked ~ .background {
  background: var(--indigo-background);
}

.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 60px;
  width: 5px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 5px;
  height: 5px;
  top: -25px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 5px;
  height: 5px;
  left: -30px;
  top: 20px;
}

.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  -webkit-animation-name: switch;
          animation-name: switch;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.toggle--checkbox:checked + .toggle--label:after {
  -webkit-transition-delay: 350ms;
          transition-delay: 350ms;
  opacity: 1;
}

.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 200px;
  height: 100px;
  background: var(--blue-color);
  border-radius: 100px;
  border: 5px solid var(--blue-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}

.toggle--label-background {
  width: 10px;
  height: 5px;
  border-radius: 5px;
  position: relative;
  background: var(--white);
  left: 135px;
  top: 45px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.toggle--label-background:before {
  content: "";
  position: absolute;
  top: -5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -20px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -10px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.toggle--label:before {
  -webkit-animation-name: reverse;
          animation-name: reverse;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
  content: "";
  width: 82px;
  height: 82px;
  border: 5px solid var(--yellow-border);
  top: 0px;
  left: 0px;
  position: absolute;
  border-radius: 82px;
  background: var(--yellow-background);
}

.toggle--label:after {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  -webkit-box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
          box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
  left: 143px;
  top: 23px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

@-webkit-keyframes switch {
  0% {
    left: 0;
  }
  60% {
    left: 0;
    width: 112px;
  }
  100% {
    left: 104px;
    width: 82px;
  }
}

@keyframes switch {
  0% {
    left: 0;
  }
  60% {
    left: 0;
    width: 112px;
  }
  100% {
    left: 104px;
    width: 82px;
  }
}
@-webkit-keyframes reverse {
  0% {
    left: 104px;
    width: 82px;
  }
  60% {
    left: 72px;
    width: 112px;
  }
  100% {
    left: 0;
  }
}
@keyframes reverse {
  0% {
    left: 104px;
    width: 82px;
  }
  60% {
    left: 72px;
    width: 112px;
  }
  100% {
    left: 0;
  }
}
.portfolio__all-btn {
  margin-top: 60px;
}

.item {
  margin-bottom: 30px;
}
.item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 4px 10px 0 rgba(13, 13, 40, 0.25);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 4px 10px 0 rgba(13, 13, 40, 0.25);
}
.item__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.item__img img {
  max-width: 90%;
  max-height: 90%;
}
.item--hishnik .item__container {
  background: #36A200;
}
.item--hishnik .item__img {
  background: #87D085;
}
.item--evacuator .item__container {
  background: #1B2034;
}
.item--evacuator .item__img {
  background: url(../images/evacuator.jpg) no-repeat center;
  background-size: cover;
}
.item--evacuator .item__img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../images/evacuator-pattern.png), rgba(0, 0, 0, 0.5);
}
.item--alexandrova .item__container {
  background: #09c;
}
.item--alexandrova .item__img {
  background: url(../images/bg-table.jpg) no-repeat center;
  background-size: cover;
}
.item--alexandrova .item__img::after {
  position: absolute;
  content: "";
  height: 31px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: url(../images/bg-bottom.png) no-repeat center bottom;
}
.item__label {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  cursor: default;
}
.item__label::after {
  content: "|";
  color: #ffffff;
  display: inline-block;
  padding-left: 5px;
  padding-right: 2px;
}
.item__label:last-child::after {
  display: none;
}
.item__title {
  position: relative;
  font-size: 44px;
  color: #ffffff;
  font-weight: 700;
  margin: 20px 0 50px;
}
.item__title::after {
  position: absolute;
  content: "";
  width: 54px;
  height: 6px;
  background: #ffffff;
  left: calc(50% - 27px);
  bottom: -15px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.item__text {
  max-width: 450px;
  padding: 0 20px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto 35px;
}
.item__btn {
  display: inline-block;
  background: #E34925;
  border-radius: 7px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 23px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.item__btn:hover {
  background: #DB4522;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.item__content {
  width: 50%;
  text-align: center;
  padding: 50px 20px;
}

.review__container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.review__author {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.review__span {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.review__text {
  margin: 25px 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
}
.reviews__slider {
  margin-bottom: 105px;
}
.reviews__slider .slick-arrow {
  position: absolute;
  bottom: -50px;
  z-index: 2;
  width: 24px;
  height: 24px;
  background: url(../images/icons.svg#arrow) no-repeat center;
  background-size: contain;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}
.reviews__slider .slick-arrow:hover {
  background-image: url(../images/icons.svg#arrow-hover);
}
.reviews__slider .slick-prev {
  right: calc(50% + 10px);
}
.reviews__slider .slick-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: calc(50% + 10px);
}
.reviews__footer {
  text-align: center;
}
.reviews__footer_title {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #577BF9;
}
.reviews__footer_subtitle {
  display: block;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.reviews__photos {
  position: relative;
  height: 320px;
  margin: 0 auto 20px;
  max-width: 800px;
}
.reviews-kwork {
  display: inline-block;
  margin-left: 10px;
}
.reviews-kwork img {
  display: block;
  height: 24px;
  width: auto;
}
.reviews-kwork:hover img {
  opacity: 0.8;
}
.review__photo {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(87, 123, 249, 0.25);
          box-shadow: 0px 0px 10px 2px rgba(87, 123, 249, 0.25);
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #D25419;
}
.review__photo:hover {
  -webkit-box-shadow: 0px 0px 25px 2px rgba(87, 123, 249, 0.7);
          box-shadow: 0px 0px 25px 2px rgba(87, 123, 249, 0.7);
}
.review__photo[data-photo="1"] {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.review__photo[data-photo="2"] {
  top: 55px;
  left: 25%;
  -webkit-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
          transform: translateX(-75%);
}
.review__photo[data-photo="3"] {
  top: 55px;
  left: 75%;
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
}
.review__photo[data-photo="4"] {
  width: 80px;
  height: 80px;
  left: 0;
  top: 190px;
}
.review__photo[data-photo="5"] {
  left: 30%;
  top: 200px;
  -webkit-transform: translateX(-70%);
      -ms-transform: translateX(-70%);
          transform: translateX(-70%);
}
.review__photo[data-photo="7"] {
  left: 70%;
  top: 200px;
  -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
          transform: translateX(-30%);
}
.review__photo[data-photo="8"] {
  width: 80px;
  height: 80px;
  left: calc(100% - 80px);
  top: 190px;
}
.review__photo img {
  display: block;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__photo[data-photo="6"] {
  width: 180px;
  height: 180px;
  top: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.review__photo[data-photo="6"]:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(87, 123, 249, 0.25);
          box-shadow: 0px 0px 10px 2px rgba(87, 123, 249, 0.25);
}
.review__photo[data-photo="6"]::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: url(../images/icons.svg#review-icon) no-repeat center, #577BF9;
  background-size: 26px 26px;
}
.review__photo[data-photo="6"] img {
  display: block;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__photo[data-photo="6"] span {
  font-size: 72px;
}
.review__photo span {
  display: block;
  color: #fff;
  font-size: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup2 {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.popup2.active {
  opacity: 1;
  visibility: visible;
}
.popup2-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}
.popup2-content {
  position: relative;
  width: 95vw;
  max-height: 95vh;
  max-width: 380px;
  background: #577BF9;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
  overflow-y: auto;
  padding: 35px 30px;
  text-align: center;
}
.popup2-close {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  right: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.popup2-close:hover::before {
  height: 3px;
}
.popup2-close:hover::after {
  width: 3px;
}
.popup2-close::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
  top: 13px;
  border-radius: 2px;
}
.popup2-close::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #fff;
  top: 0;
  left: 13px;
  border-radius: 2px;
}
.popup2-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 10px;
}
.popup2-subtitle {
  display: block;
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.popup2 .input {
  background: #577BF9;
  color: #fff;
  border-color: #fff;
}
.popup2 .submit {
  background: #fff;
  border-color: #fff;
  color: #577BF9;
}
.popup2 .submit:hover {
  background: #577BF9;
  color: #fff;
}
.popup2 .label {
  margin-bottom: 30px;
}
.popup2 .label > span {
  padding-left: 0;
  background: #577BF9;
  color: #fff;
}
.popup2 .check {
  margin-bottom: 20px;
}
.popup2 .check-custom {
  margin-right: 5px;
  border-color: #fff;
}
.popup2 .check-custom::before {
  border-color: #577BF9;
  background: #fff;
}
.popup2 .check-text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.popup2 .check-text a {
  color: #fff;
}
.popup2 .file-custom {
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  background-size: 19px 20px;
}
.popup2 .file-text {
  color: #fff;
  font-weight: 400;
}

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px -20px;
}
.blog__item {
  width: 33.333%;
  padding: 0 10px 20px;
}
.blog__item_container {
  height: 100%;
  background: rgba(87, 123, 249, 0.1);
  border-radius: 6px;
  overflow: hidden;
}
.blog__item:first-child {
  width: 66.666%;
}
.blog__item:first-child .blog__item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__item:first-child .blog__item_img {
  width: 48.7%;
  height: 100%;
}
.blog__item:first-child .blog__item_content {
  width: 51.3%;
}
.blog__item:first-child .blog__item_title {
  margin: 10px 0 20px;
  font-size: 24px;
  line-height: 28px;
}
.blog__item_img {
  height: 200px;
}
.blog__item_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog__item_content {
  padding: 20px;
}
.blog__item_text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.blog__item_title {
  display: inline-block;
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.blog__item_title:hover {
  color: #577BF9;
}
.blog__item_date {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.contacts {
  padding: 60px 0;
}
.contacts__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__left {
  width: 50%;
  padding-right: 60px;
}
.contacts__right {
  width: 50%;
}
.contacts__title {
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
  display: block;
}
.contacts__block {
  margin-bottom: 30px;
}
.contacts__block strong {
  font-size: 20px;
  color: #000;
  margin-right: 15px;
}
.contacts__link {
  display: inline-block;
  color: #577BF9;
  font-size: 18px;
}
.contacts__link:hover {
  text-decoration: underline;
}

.form {
  width: 100%;
  display: block;
}

.label {
  display: block;
  margin-bottom: 40px;
  position: relative;
  cursor: text;
}
.label > span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  font-size: 16px;
  color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  background: #fff;
  pointer-events: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.label > span span {
  font-size: 14px;
}

.input {
  font-family: "Roboto";
  background: transparent;
  border: none;
  border-bottom: 2px solid #577BF9;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 18px;
  color: #000;
}

.label .input:focus + span, .label .input:valid + span {
  top: -30px;
  font-size: 12px;
  background: transparent;
}

.textarea {
  height: auto;
  min-height: 120px;
  padding-top: 10px;
  resize: vertical;
}

.input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.red {
  color: #E34925;
}

.submit {
  cursor: pointer;
  font-size: 18px;
}
.submit:hover {
  background: transparent;
  color: #577BF9;
}

.popup {
  position: fixed;
  z-index: 99;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 4px 10px 0 rgba(13, 13, 40, 0.25);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 4px 10px 0 rgba(13, 13, 40, 0.25);
}
.popup.active {
  top: 0;
}
.popup__header {
  background: #577BF9;
}
.popup__header_wrapper {
  min-height: 60px;
  padding: 15px 0;
}
.popup__header_title {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  line-height: 1.4;
}
.popup-browser {
  width: 100%;
  margin: 30px auto;
  max-width: 85rem;
}
.popup-browser img {
  display: block;
  width: 100%;
  height: auto;
}

.close {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.close::before, .close::after {
  position: absolute;
  content: "";
  border-radius: 3px;
  background: #fff;
}
.close::before {
  width: 24px;
  height: 4px;
  top: 10px;
  left: 0;
}
.close::after {
  top: 0;
  left: 10px;
  height: 24px;
  width: 4px;
}
.close:hover {
  -webkit-transform: rotate(405deg);
      -ms-transform: rotate(405deg);
          transform: rotate(405deg);
}

.footer {
  padding: 25px 0;
  background: #D25419;
  text-align: center;
}
.footer__socials_item {
  height: 90px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px 45px;
}

.copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */