/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700&display=swap&subset=cyrillic");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  font-family: "Comfortaa";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  --text-color: #131340;
  --background-plash: #fff;
  --text-blue: #577bf9;
  --bg-service: rgba(87, 123, 249, 1);
  background: #fff;
}
body.night {
  background: #111;
  --text-color: #fff;
  --background-plash: #D25419;
  --text-blue: #fff;
  --bg-service: rgba(87, 123, 249, .3);
}
body.night .banner__content_img {
  opacity: 0.85 !important;
}
body.night .reviews__slider .slick-arrow {
  background-image: url(../images/icons.svg#arrow-white);
}
body.night .reviews__slider .slick-arrow:hover {
  background-image: url(../images/icons.svg#arrow-hover);
}
body.night .header-logo:hover img:nth-child(2) {
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
  padding-right: 17px;
}
.no-scroll .header {
  padding-right: 17px;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section {
  padding: 60px 0;
}
.section__title {
  margin: 0 0 30px;
  text-align: center;
  font-size: 38px;
  line-height: 1.4;
  color: #577bf9;
  font-weight: 500;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.section__title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  background: #577BF9;
  bottom: -15px;
  left: calc(50% - 30px);
}
.section__title.white::before {
  background: #fff;
}
.section__subtitle {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.4;
  display: block;
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
}

.btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 40px;
  background: #577BF9;
  border-radius: 4px;
  border: 2px solid #577BF9;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}
.btn:hover {
  color: #577BF9;
  background: transparent;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 30px;
}
.check input {
  display: none;
}
.check input:checked ~ .check-custom::before {
  opacity: 1;
}
.check-custom {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background: transparent;
  border: 2px solid #577BF9;
  border-radius: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.check-custom::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #577BF9;
  border: 2px solid #fff;
  border-radius: 4px;
  opacity: 0;
}
.check-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #577BF9;
  display: block;
  text-align: left;
}
.check-text a {
  color: #577BF9;
}
.check-text a:hover {
  text-decoration: underline;
}

.file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.file input {
  display: none;
}
.file-custom {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: url(../images/icons.svg#file) no-repeat center, #577BF9;
  background-size: 24px 24px;
  border-radius: 4px;
}
.file-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #577BF9;
}

.header {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
}
.header-container {
  background: var(--background-plash);
  padding: 15px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 1px rgba(87, 123, 249, 0.2);
          box-shadow: 0 0 10px 1px rgba(87, 123, 249, 0.2);
  position: relative;
}
.header-logo {
  display: block;
  width: 100px;
  position: relative;
}
.header-logo span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-blue);
  letter-spacing: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-logo img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 24px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-logo:hover span {
  letter-spacing: -10px;
  color: transparent;
}
.header-logo:hover img:nth-child(1) {
  opacity: 1;
}

.day-night {
  position: relative;
}

:root {
  --bg-color: #2b2b2b;
  --fg-color: rgba(255, 255, 255, 0.9);
}

body.day {
  --bg-color: #c4e4ff;
  --fg-color: rgba(0, 0, 0, 0.7);
}

label.day-night-switch {
  display: block;
  --size: 48px;
  --height: calc(var(--size) / 2);
  --padding: calc(var(--size) * 0.04);
  --border-width: calc(var(--size) * 0.02);
  --transition-duration: 250ms;
  --switch-size: calc(var(--height) - 2 * var(--padding) - 2 * var(--border-width));
  --pos-left: var(--padding);
  --pos-right: calc(var(--size) - var(--switch-size) - var(--padding) - 2 * var(--border-width));
  --shift: calc(var(--height) * 1.25);
  width: var(--size);
  height: var(--height);
  border-radius: var(--height);
  border: var(--border-width) solid white;
  position: relative;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  transition: all var(--transition-duration) ease-in-out;
  cursor: pointer;
  overflow: hidden;
}
label.day-night-switch > .celestial {
  -webkit-transition: all var(--transition-duration) ease-in-out;
  transition: all var(--transition-duration) ease-in-out;
  width: var(--switch-size);
  height: var(--switch-size);
  border: var(--border-width) solid green;
  display: inline-block;
  position: absolute;
  border-radius: var(--height);
}
label.day-night-switch > .celestial.sun {
  background-color: #fdc82e;
  border-color: #e3ad0d;
}
label.day-night-switch > .celestial.moon {
  background-color: #d2cec4;
  border-color: #a9a18f;
}
label.day-night-switch > .celestial.moon > .craters > .crater {
  background-color: #d2cec4;
  border-color: #a9a18f;
  border-width: max(var(--border-width) * 0.65, 1px);
  border-style: solid;
  position: absolute;
  border-radius: 50%;
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(1) {
  width: calc(var(--switch-size) * 0.15);
  height: calc(var(--switch-size) * 0.15);
  top: calc(var(--switch-size) * 0.7);
  left: calc(var(--switch-size) * 0.4);
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(2) {
  width: calc(var(--switch-size) * 0.3);
  height: calc(var(--switch-size) * 0.3);
  top: calc(var(--switch-size) * 0.1);
  left: calc(var(--switch-size) * -0.05);
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(3) {
  width: calc(var(--switch-size) * 0.1);
  height: calc(var(--switch-size) * 0.1);
  top: calc(var(--switch-size) * 0.2);
  left: calc(var(--switch-size) * 0.6);
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(4) {
  width: calc(var(--switch-size) * 0.1);
  height: calc(var(--switch-size) * 0.1);
  top: calc(var(--switch-size) * 0.3);
  left: calc(var(--switch-size) * 0.25);
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(5) {
  width: calc(var(--switch-size) * 0.2);
  height: calc(var(--switch-size) * 0.2);
  top: calc(var(--switch-size) * 0.5);
  left: calc(var(--switch-size) * 0.8);
}
label.day-night-switch > .decorations > .decoration {
  position: absolute;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  transition: all var(--transition-duration) ease-in-out;
}
label.day-night-switch > .mountains {
  position: absolute;
  display: inline-block;
  top: calc(var(--switch-size) * 0.85);
  left: calc(var(--switch-size) * 0.7);
}
label.day-night-switch > .mountains > * {
  position: absolute;
  display: inline-block;
  border-width: var(--border-width);
  border-style: solid;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all var(--transition-duration) ease-in-out;
  transition: all var(--transition-duration) ease-in-out;
  border-top-left-radius: calc(var(--switch-size) * 0.1);
  background-color: white;
  border-color: black;
}
label.day-night-switch > .mountains > *:nth-child(1) {
  width: calc(var(--switch-size) * 0.9);
  height: calc(var(--switch-size) * 0.9);
  top: calc(var(--switch-size) * 0.1);
}
label.day-night-switch > .mountains > *:nth-child(2) {
  width: calc(var(--switch-size) * 0.45);
  height: calc(var(--switch-size) * 0.45);
  top: calc(var(--switch-size) * 0.2);
  left: calc(var(--switch-size) * 0.6);
}

input.day-night-switch {
  display: none;
}
input.day-night-switch:checked + label.day-night-switch {
  border-color: #3190bf;
  background-color: #6cbde5;
}
input.day-night-switch:checked + label.day-night-switch > .celestial.sun {
  -webkit-transition-delay: var(--transition-duration);
          transition-delay: var(--transition-duration);
  top: var(--padding);
  left: var(--pos-right);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
input.day-night-switch:checked + label.day-night-switch > .celestial.moon {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  left: var(--pos-left);
  top: var(--shift);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
input.day-night-switch:checked + label.day-night-switch > .decorations {
  opacity: 0.5;
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration {
  background-color: white;
  border-radius: 50%;
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration:nth-child(1) {
  border-radius: calc(var(--switch-size) * 0.3);
  height: calc(var(--switch-size) * 0.3);
  width: calc(var(--switch-size) * 0.84);
  top: calc(var(--switch-size) * 0.6);
  left: calc(var(--switch-size) * 0.45);
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration:nth-child(2) {
  height: calc(var(--switch-size) * 0.35);
  width: calc(var(--switch-size) * 0.35);
  top: calc(var(--switch-size) * 0.5);
  left: calc(var(--switch-size) * 0.35);
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration:nth-child(3) {
  height: calc(var(--switch-size) * 0.3);
  width: calc(var(--switch-size) * 0.3);
  top: calc(var(--switch-size) * 0.5);
  left: calc(var(--switch-size) * 0.85);
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration:nth-child(4) {
  height: calc(var(--switch-size) * 0.4);
  width: calc(var(--switch-size) * 0.4);
  top: calc(var(--switch-size) * 0.4);
  left: calc(var(--switch-size) * 0.55);
}
input.day-night-switch:checked + label.day-night-switch > .mountains > * {
  background-color: #d4d4d4;
  border-color: #a8a8a8;
}
input.day-night-switch + label.day-night-switch {
  border-color: #2a4569;
  background-color: #223349;
}
input.day-night-switch + label.day-night-switch > .celestial.sun {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  top: var(--shift);
  left: var(--pos-right);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
input.day-night-switch + label.day-night-switch > .celestial.moon {
  -webkit-transition-delay: var(--transition-duration);
          transition-delay: var(--transition-duration);
  top: var(--padding);
  left: var(--pos-left);
  overflow: hidden;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration {
  background-color: white;
  border-radius: 50%;
  width: max(var(--border-width) * 0.75, 2px);
  height: max(var(--border-width) * 0.75, 2px);
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration:nth-child(1) {
  top: calc(var(--switch-size) * 0.7);
  left: calc(var(--switch-size) * 1.7);
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration:nth-child(2) {
  top: calc(var(--switch-size) * 0.4);
  left: calc(var(--switch-size) * 1.4);
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration:nth-child(3) {
  top: calc(var(--switch-size) * 0.9);
  left: calc(var(--switch-size) * 2.2);
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration:nth-child(4) {
  top: calc(var(--switch-size) * 0.3);
  left: calc(var(--switch-size) * 2);
}
input.day-night-switch + label.day-night-switch > .mountains > * {
  background-color: #878787;
  border-color: #5c5c5c;
}

.banner__wrapper {
  position: relative;
  min-height: 100vh;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.banner__content {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__content_img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 38%;
  height: auto;
  display: block;
  margin-left: 30px;
  pointer-events: none;
}
.banner__content_span {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #7C7C7C;
}
.banner__content_name {
  display: block;
  margin: 10px 0 30px;
  font-weight: 500;
  font-size: 55px;
  line-height: 1.3;
  color: #577BF9;
}
.banner__content_desc {
  display: block;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.4;
  color: #577BF9;
}
.banner__header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.banner__header_link {
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #577BF9;
  padding-left: 34px;
  background: url(../images/icons.svg#mail) no-repeat left 3px;
  background-size: 24px 16px;
}
.banner__header_link:hover {
  text-decoration: underline;
}
.banner__socials {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.banner__socials_item {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.banner__socials_item:hover {
  -webkit-transform: translate(0, -3px);
      -ms-transform: translate(0, -3px);
          transform: translate(0, -3px);
}
.banner__socials_item--telegram {
  background-image: url(../images/icons.svg#telegram);
}
.banner__socials_item--kwork {
  background-image: url(../images/kwork.png);
}
.banner__socials_item--github {
  background-image: url(../images/icons.svg#github);
}
.banner__socials_item--email {
  background-image: url(../images/icons.svg#mail);
}
.banner__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__footer_item {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 165px;
  height: 160px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #577BF9;
  border-radius: 72px;
}
.banner__footer_item:first-child {
  border-radius: 0 72px;
}
.banner__footer_item:last-child {
  border-radius: 72px 0;
}
.banner__footer_item strong {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  width: 100%;
}
.banner__footer_item span {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.instrument {
  display: block;
  width: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 16px 32px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.instrument:hover {
  opacity: 0.8;
}
.instrument img {
  margin: 0 auto;
  display: block;
}
.instrument-block {
  text-align: center;
}
.instruments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -32px;
}

.service {
  padding: 0 10px;
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
}
.service-container {
  cursor: default;
  background: var(--bg-service);
  -webkit-box-shadow: 0px 4px 6px rgba(87, 123, 249, 0.25);
          box-shadow: 0px 4px 6px rgba(87, 123, 249, 0.25);
  border-radius: 16px;
  min-height: 200px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.service:hover .service-container {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 0 80px -10px transparent;
          box-shadow: 0 0 80px -10px transparent;
  -webkit-animation: background 10s infinite alternate;
          animation: background 10s infinite alternate;
}
.service__text {
  padding: 0 25px 25px;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
  color: #FFFFFF;
  max-width: 860px;
  margin: 0 auto;
}
.service__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.3;
  color: #FFFFFF;
}
.service__img {
  position: absolute;
  top: calc(50% - 60px);
  right: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 120px;
  height: 120px;
  margin-left: 20px;
}

@-webkit-keyframes background {
  0% {
    -webkit-box-shadow: 0 0 80px -10px #D25419;
            box-shadow: 0 0 80px -10px #D25419;
  }
  10% {
    -webkit-box-shadow: 0 0 80px -10px #C625FF;
            box-shadow: 0 0 80px -10px #C625FF;
  }
  30% {
    -webkit-box-shadow: 0 0 80px -10px #5E25FF;
            box-shadow: 0 0 80px -10px #5E25FF;
  }
  50% {
    -webkit-box-shadow: 0 0 80px -10px #2596FF;
            box-shadow: 0 0 80px -10px #2596FF;
  }
  70% {
    -webkit-box-shadow: 0 0 80px -10px #25F2FF;
            box-shadow: 0 0 80px -10px #25F2FF;
  }
  90% {
    -webkit-box-shadow: 0 0 80px -10px #25FF89;
            box-shadow: 0 0 80px -10px #25FF89;
  }
  100% {
    -webkit-box-shadow: 0 800px -10px #D25419;
            box-shadow: 0 800px -10px #D25419;
  }
}

@keyframes background {
  0% {
    -webkit-box-shadow: 0 0 80px -10px #D25419;
            box-shadow: 0 0 80px -10px #D25419;
  }
  10% {
    -webkit-box-shadow: 0 0 80px -10px #C625FF;
            box-shadow: 0 0 80px -10px #C625FF;
  }
  30% {
    -webkit-box-shadow: 0 0 80px -10px #5E25FF;
            box-shadow: 0 0 80px -10px #5E25FF;
  }
  50% {
    -webkit-box-shadow: 0 0 80px -10px #2596FF;
            box-shadow: 0 0 80px -10px #2596FF;
  }
  70% {
    -webkit-box-shadow: 0 0 80px -10px #25F2FF;
            box-shadow: 0 0 80px -10px #25F2FF;
  }
  90% {
    -webkit-box-shadow: 0 0 80px -10px #25FF89;
            box-shadow: 0 0 80px -10px #25FF89;
  }
  100% {
    -webkit-box-shadow: 0 800px -10px #D25419;
            box-shadow: 0 800px -10px #D25419;
  }
}
.portfolio__all-btn {
  margin-top: 60px;
}

.item {
  margin-bottom: 30px;
}
.item-popup {
  display: none;
}
.item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 4px 10px 0 rgba(13, 13, 40, 0.25);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 4px 10px 0 rgba(13, 13, 40, 0.25);
}
.item__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.item__img img {
  max-width: 90%;
  max-height: 90%;
}
.item--hishnik .item__container {
  background: #36A200;
}
.item--hishnik .item__img {
  background: #87D085;
}
.item--evacuator .item__container {
  background: #1B2034;
}
.item--evacuator .item__img {
  background: url(../images/evacuator.jpg) no-repeat center;
  background-size: cover;
}
.item--evacuator .item__img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../images/evacuator-pattern.png), rgba(0, 0, 0, 0.5);
}
.item--alexandrova .item__container {
  background: #09c;
}
.item--alexandrova .item__img {
  background: url(../images/bg-table.jpg) no-repeat center;
  background-size: cover;
}
.item--alexandrova .item__img::after {
  position: absolute;
  content: "";
  height: 31px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: url(../images/bg-bottom.png) no-repeat center bottom;
}
.item__label {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  cursor: default;
}
.item__label::after {
  content: "|";
  color: #ffffff;
  display: inline-block;
  padding-left: 5px;
  padding-right: 2px;
}
.item__label:last-child::after {
  display: none;
}
.item__title {
  position: relative;
  font-size: 44px;
  color: #ffffff;
  font-weight: 700;
  margin: 20px 0 50px;
}
.item__title::after {
  position: absolute;
  content: "";
  width: 54px;
  height: 6px;
  background: #ffffff;
  left: calc(50% - 27px);
  bottom: -15px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.item__text {
  max-width: 450px;
  padding: 0 20px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto 35px;
}
.item__btn {
  display: inline-block;
  background: #E34925;
  border-radius: 7px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 23px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.item__btn:hover {
  background: #DB4522;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.item__content {
  width: 50%;
  text-align: center;
  padding: 50px 20px;
}

.review__container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.review__author {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
}
.review__span {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
  opacity: 0.85;
}
.review__text {
  margin: 25px 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text-color);
}
.reviews__slider {
  margin-bottom: 105px;
}
.reviews__slider .slick-arrow {
  position: absolute;
  bottom: -50px;
  z-index: 2;
  width: 24px;
  height: 24px;
  background: url(../images/icons.svg#arrow) no-repeat center;
  background-size: contain;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}
.reviews__slider .slick-arrow:hover {
  background-image: url(../images/icons.svg#arrow-hover);
}
.reviews__slider .slick-prev {
  right: calc(50% + 10px);
}
.reviews__slider .slick-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: calc(50% + 10px);
}
.reviews__footer {
  text-align: center;
}
.reviews__footer_title {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #577BF9;
}
.reviews__footer_subtitle {
  display: block;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.reviews__photos {
  position: relative;
  height: 320px;
  margin: 0 auto 20px;
  max-width: 800px;
}
.reviews-kwork {
  display: inline-block;
  margin-left: 10px;
}
.reviews-kwork img {
  display: block;
  height: 24px;
  width: auto;
}
.reviews-kwork:hover img {
  opacity: 0.8;
}
.review__photo {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(87, 123, 249, 0.25);
          box-shadow: 0px 0px 10px 2px rgba(87, 123, 249, 0.25);
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #D25419;
}
.review__photo:hover {
  -webkit-box-shadow: 0px 0px 25px 2px rgba(87, 123, 249, 0.7);
          box-shadow: 0px 0px 25px 2px rgba(87, 123, 249, 0.7);
}
.review__photo[data-photo="1"] {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.review__photo[data-photo="2"] {
  top: 55px;
  left: 25%;
  -webkit-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
          transform: translateX(-75%);
}
.review__photo[data-photo="3"] {
  top: 55px;
  left: 75%;
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
}
.review__photo[data-photo="4"] {
  width: 80px;
  height: 80px;
  left: 0;
  top: 190px;
}
.review__photo[data-photo="5"] {
  left: 30%;
  top: 200px;
  -webkit-transform: translateX(-70%);
      -ms-transform: translateX(-70%);
          transform: translateX(-70%);
}
.review__photo[data-photo="7"] {
  left: 70%;
  top: 200px;
  -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
          transform: translateX(-30%);
}
.review__photo[data-photo="8"] {
  width: 80px;
  height: 80px;
  left: calc(100% - 80px);
  top: 190px;
}
.review__photo img {
  display: block;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__photo[data-photo="6"] {
  width: 180px;
  height: 180px;
  top: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.review__photo[data-photo="6"]:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(87, 123, 249, 0.25);
          box-shadow: 0px 0px 10px 2px rgba(87, 123, 249, 0.25);
}
.review__photo[data-photo="6"]::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: url(../images/icons.svg#review-icon) no-repeat center, #577BF9;
  background-size: 26px 26px;
}
.review__photo[data-photo="6"] img {
  display: block;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__photo[data-photo="6"] span {
  font-size: 72px;
}
.review__photo span {
  display: block;
  color: #fff;
  font-size: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup2 {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.popup2.active {
  opacity: 1;
  visibility: visible;
}
.popup2-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}
.popup2-content {
  position: relative;
  width: 95vw;
  max-height: 95vh;
  max-width: 380px;
  background: #577BF9;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
  overflow-y: auto;
  padding: 35px 30px;
  text-align: center;
}
.popup2-close {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  right: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.popup2-close:hover::before {
  height: 3px;
}
.popup2-close:hover::after {
  width: 3px;
}
.popup2-close::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
  top: 13px;
  border-radius: 2px;
}
.popup2-close::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #fff;
  top: 0;
  left: 13px;
  border-radius: 2px;
}
.popup2-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 10px;
}
.popup2-subtitle {
  display: block;
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.popup2 .input {
  background: #577BF9;
  color: #fff;
  border-color: #fff;
}
.popup2 .submit {
  background: #fff;
  border-color: #fff;
  color: #577BF9;
}
.popup2 .submit:hover {
  background: #577BF9;
  color: #fff;
}
.popup2 .label {
  margin-bottom: 30px;
}
.popup2 .label > span {
  padding-left: 0;
  background: #577BF9;
  color: #fff;
}
.popup2 .check {
  margin-bottom: 20px;
}
.popup2 .check-custom {
  margin-right: 5px;
  border-color: #fff;
}
.popup2 .check-custom::before {
  border-color: #577BF9;
  background: #fff;
}
.popup2 .check-text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.popup2 .check-text a {
  color: #fff;
}
.popup2 .file-custom {
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  background-size: 19px 20px;
}
.popup2 .file-text {
  color: #fff;
  font-weight: 400;
}

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px -20px;
}
.blog__item {
  width: 33.333%;
  padding: 0 10px 20px;
}
.blog__item_container {
  height: 100%;
  background: rgba(87, 123, 249, 0.1);
  border-radius: 6px;
  overflow: hidden;
}
.blog__item:first-child {
  width: 66.666%;
}
.blog__item:first-child .blog__item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__item:first-child .blog__item_img {
  width: 48.7%;
  height: 100%;
}
.blog__item:first-child .blog__item_content {
  width: 51.3%;
}
.blog__item:first-child .blog__item_title {
  margin: 10px 0 20px;
  font-size: 24px;
  line-height: 28px;
}
.blog__item_img {
  height: 200px;
}
.blog__item_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog__item_content {
  padding: 20px;
}
.blog__item_text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.blog__item_title {
  display: inline-block;
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.blog__item_title:hover {
  color: #577BF9;
}
.blog__item_date {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.contacts {
  padding: 60px 0 15px;
}
.contacts__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__left {
  width: 50%;
  padding-right: 60px;
}
.contacts__right {
  width: 50%;
}
.contacts__title {
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
  display: block;
}
.contacts__block {
  margin-bottom: 30px;
}
.contacts__block strong {
  font-size: 20px;
  color: #000;
  margin-right: 15px;
}
.contacts__link {
  display: inline-block;
  color: #577BF9;
  font-size: 18px;
}
.contacts__link:hover {
  text-decoration: underline;
}

.form {
  width: 100%;
  display: block;
}

.label {
  display: block;
  margin-bottom: 40px;
  position: relative;
  cursor: text;
}
.label > span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  font-size: 16px;
  color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  background: #fff;
  pointer-events: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.label > span span {
  font-size: 14px;
}

.input {
  font-family: "Roboto";
  background: transparent;
  border: none;
  border-bottom: 2px solid #577BF9;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 18px;
  color: #000;
}

.label .input:focus + span, .label .input:valid + span {
  top: -30px;
  font-size: 12px;
  background: transparent;
}

.textarea {
  height: auto;
  min-height: 120px;
  padding-top: 10px;
  resize: vertical;
}

.input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.red {
  color: #E34925;
}

.submit {
  cursor: pointer;
  font-size: 18px;
}
.submit:hover {
  background: transparent;
  color: #577BF9;
}

.popup {
  position: fixed;
  z-index: 99;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 4px 10px 0 rgba(13, 13, 40, 0.25);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 4px 10px 0 rgba(13, 13, 40, 0.25);
}
.popup.active {
  top: 0;
}
.popup__header {
  width: 100%;
  background: #577BF9;
}
.popup__header_wrapper {
  min-height: 60px;
  padding: 15px 0;
}
.popup__header_title {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  line-height: 1.4;
}
.popup__header_link, .popup__header_text {
  color: #fff;
}
.popup__header_text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup-browser {
  width: 100%;
  margin: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 0;
  display: block;
  height: auto;
}

.close {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.close::before, .close::after {
  position: absolute;
  content: "";
  border-radius: 3px;
  background: #fff;
}
.close::before {
  width: 24px;
  height: 4px;
  top: 10px;
  left: 0;
}
.close::after {
  top: 0;
  left: 10px;
  height: 24px;
  width: 4px;
}
.close:hover {
  -webkit-transform: rotate(405deg);
      -ms-transform: rotate(405deg);
          transform: rotate(405deg);
}

.footer {
  padding: 25px 0;
  background: #D25419;
  text-align: center;
}
.footer__socials {
  background: var(--background-plash);
  border-radius: 16px;
}
.footer__socials_item {
  height: 90px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__socials_item:hover {
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */