@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic");

:root {
  --main-color: #577BF9;
  --text-color: #131340;
}

* {
  font-family: 'Ubuntu';
  box-sizing: border-box;
  outline: none;
}
.no-scroll {
  overflow: hidden;
  padding-right: 17px;
}
.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 60px;
}

.header {
  position: fixed;
  z-index: 90;
  width: 100%;
  left: 0;
  top: 0;
  background: var(--main-color);
}
.header__wrapper {
  height: 60px;
}
.logo {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__item {
  padding-left: 35px;
}
.menu__item a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.menu__item a:hover {
  text-shadow: none;
}
.footer {
  padding: 15px 0;
  background: var(--text-color);
}
.copyright {
  color: #ffffff;
  font-size: 14px;
}
.banner {
  /* height: 100vh; */
}
.banner img {
  display: block;
  height: auto;
  width: 100%;
}


.section {
  padding: 60px 0;
}
.section__title {
  margin: 0 0 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  color: var(--text-color);
  position: relative;
  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.section__title::before {
  position: absolute;
  content: '';
  width: 60px;
  height: 3px;
  background: var(--main-color);
  bottom: -15px;
  left: calc(50% - 30px);
}
.section__title.white::before {
  background: #fff;
}
.section__subtitle {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.4;
  display: block;
  font-weight: 400;
  text-align: center;
}

.portfolio__list {
  padding-top: 40px;
}
.item {
  margin-bottom: 30px;
}
.item__container {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.04),0 4px 10px 0 rgba(13,13,40,.25);
}
.item__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.item__img img {
  max-width: 90%;
  max-height: 90%;
}
.item--hishnik .item__container {
  background: #36A200;
}
.item--hishnik .item__img {
  background: #87D085;
}
.item--evacuator .item__container {
  background: #1B2034;
}
.item--evacuator .item__img {
  background: url(../images/evacuator.jpg) no-repeat center;
  background-size: cover;
}
.item--evacuator .item__img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../images/evacuator-pattern.png), rgba(0,0,0,.5);;
}
.item--alexandrova .item__container {
  background: #09c;
}
.item--alexandrova .item__img {
  background: url(../images/bg-table.jpg) no-repeat center;
  background-size: cover;
}
.item--alexandrova .item__img::after {
  position: absolute;
  content: '';
  height: 31px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: url(../images/bg-bottom.png) no-repeat center bottom;
}
.item__label {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  cursor: default;
}
.item__label::after {
  content: '|';
  color: #ffffff;
  display: inline-block;
  padding-left: 5px;
  padding-right: 2px;
}
.item__label:last-child::after {
  display: none;
}
.item__title {
  position: relative;
  font-size: 44px;
  color: #ffffff;
  font-weight: 700;
  margin: 20px 0 50px;
}
.item__title::after {
  position: absolute;
  content: '';
  width: 54px;
  height: 6px;
  background: #ffffff;
  left: calc(50% - 27px);
  bottom: -15px;
  transition: .5s ease-in-out;
}
.item__text {
  max-width: 450px;
  padding: 0 20px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto 35px;
}
.item__btn {
  display: inline-block;
  background: #E34925;
  border-radius: 7px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 23px;
  cursor: pointer;
  transition: .2s ease-in-out;
}
.item__btn:hover {
  background: #DB4522;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.item__content {
  width: 50%;
  text-align: center;
  padding: 50px 20px;
}
.contacts {
  padding: 60px 0;
  background: var(--main-color);
}
.white {
  color: #ffffff;
}

.popup {
  position: fixed;
  z-index: 99;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: .5s ease-in-out;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.04),0 4px 10px 0 rgba(13,13,40,.25);
}
.popup.active {
  top: 0;
}
.close {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: rotate(45deg);
  transition: .5s ease-in-out;
}
.close::before,
.close::after {
  position: absolute;
  content: '';
  border-radius: 3px;
  background: #fff;
}
.close::before {
  width: 24px;
  height: 4px;
  top: 10px;
  left: 0;
}
.close::after {
  top: 0;
  left: 10px;
  height: 24px;
  width: 4px;
}
.close:hover {
  transform: rotate(405deg);
}
.popup__header {
  background: var(--main-color);
}
.popup__header_wrapper {
  min-height: 60px;
  padding: 15px 0;
}
.popup__header_title {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
  line-height: 1.4;
}

.contacts__flex {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 0;
}
.contacts__left {
  width: 50%;
  padding-right: 60px;
}
.contacts__right {
  width: 50%;
}
.contacts__title {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 30px;
  display: block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.contacts__block {
  margin-bottom: 30px;
}
.contacts__block strong {
  font-size: 20px;
  color: #ffffff;
  margin-right: 15px;
  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.contacts__link {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
}
.contacts__link:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.socials {
  justify-content: start;
}
.socials__item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.socials__item:hover {
  background-color: transparent;
}
.socials__item--telegram {
  background-image: url(../images/icons.svg#telegram);
  background-size: 22px auto;
}
.socials__item--telegram:hover {
  background-image: url(../images/icons.svg#telegram-hover);
}
.socials__item--skype {
  background-image: url(../images/icons.svg#skype);
  background-size: 25px auto;
}
.socials__item--skype:hover {
  background-image: url(../images/icons.svg#skype-hover);
}
.socials__item--whatsapp {
  background-image: url(../images/icons.svg#whatsapp);
  background-size: 25px auto;
}
.socials__item--whatsapp:hover {
  background-image: url(../images/icons.svg#whatsapp-hover);
}

.form {
  width: 100%;
  display: block;
}
.label {
  display: block;
  margin-bottom: 40px;
  position: relative;
  cursor: text;
}
.label > span {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 16px;
  color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  background: var(--main-color);
  pointer-events: none;
  transition: .1s ease-in-out;
}
.label > span  span {
  font-size: 14px;
}
.input {
  font-family: 'Ubuntu';
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 18px;
  color: #ffffff;
}
.label .input:focus + span,
.label .input:valid + span {
  top: -30px;
  font-size: 12px;
  background: transparent;
}
.textarea {
  height: auto;
  min-height: 120px;
  padding-top: 10px;
  resize: vertical;
}
.input:invalid {
  box-shadow: none;
}
.red {
  color: #E34925;
}


.submit {
  display: block;
  border: 2px solid #fff;
  font-family: 'Ubuntu';
  background: #fff;
  border-radius: 7px;
  height: 40px;
  width: 200px;
  margin: 0 auto;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--main-color);
  
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.submit:hover {
  background: transparent;
  color: #ffffff;
}






































.butter {
  position: fixed;
  z-index: 999;
  top: -65px;
  left: 50%;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background: #E34925;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,.2);
  transform: rotate(45deg);
  transform-origin: 0 0;
  cursor: pointer;
  transition: .2s ease-in-out;
}
.butter:hover {
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,.3);
}
.butter i,
.butter::before,
.butter::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 4px;
  border-radius: 3px;
  background: #fff;
  bottom: 20px;
  right: 16px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  transition: .15s ease-in-out;
}
.butter::before {
  bottom: 15px;
  right: 11px;
}
.butter::after {
  bottom: 10px;
  right: 6px;
}

.butter-hover i {
  transform: rotate(0deg);
  bottom: 24px;
  right: 12px;
}
.butter-hover::before {
  opacity: 0;
}
.butter-hover::after {
  transform: rotate(-90deg);
  bottom: 8px;
  right: 0px;
}






























@media screen and (max-width: 1280px) {
  .no-scroll {
    padding-right: 0;
  }
}
