section.contacts
  .wrapper.contacts-wrapper
    h2.contacts__title SEND ME A MESSAGE
    form.contacts__form(action='')
      input.contacts__form_item(type='text', placeholder='NAME')
      input.contacts__form_item(type='email', placeholder='EMAIL')
      textarea.contacts__form_item(placeholder='MESSAGE')
      input.contacts__form_submit(type='submit', value='SEND')