header
	nav.main-menu
		.menu-blind
			i
		.menu-blind__block
			ul.menu-blind__block_list
				li
					a(href='') home
				li
					a(href='') work
				li
					a(href='') careers
				li
					a(href='') contact
		ul.main-menu__list
			li
				a(href='') home
			li
				a(href='') work
			li.blind-li
			li
				a(href='') careers
			li
				a(href='') contact
	.header__titles
		h1.site-title CoderDi
		h2.site-subtitle front-end developer