section#portfolio.portfolio
  .title.portfolio__title
    i
    | Портфолио
  .portfolio__container
    .portfolio__item
      .portfolio__item_views
        .portfolio__item_slide.portfolio__item_slide1.portfolio-visible
        .portfolio__item_slide.portfolio__item_slide2
        .portfolio__item_slide.portfolio__item_slide
      .portfolio__description
        .portfolio__description_switch
          i.portfolio__description_switch-comp
          i.portfolio__description_switch-ipad
          i.portfolio__description_switch-iphone
        a.portfolio__description_link(href='#') Адрес сайта
        p Верстка шаблона из PSD макета, адаптация под мобильные устройства, SEO-оптимизация, кроссбраузерность.
        strong Technologies:
        ul
          li html5
          li css3
          li jQuery
          li Full Responsive
        a.btn(href='#') подробнее...