.header
  position: fixed
  z-index: 90
  top: 0
  left: 0
  width: 100%
  padding: 15px 0
  &-container
    background: #fff
    padding: 20px
    border-radius: 10px
    box-shadow: 0 0 10px 1px rgba(87, 123, 249, .2)
    position: relative
  &-logo
    display: block
    width: 100px
    position: relative
    span
      display: block
      font-weight: 700
      font-size: 20px
      line-height: 24px
      color: #577bf9
      letter-spacing: 0
      transition: .3s
    img
      display: block
      position: absolute
      top: 0
      left: 0
      width: 16px
      height: 24px
      opacity: 0
      transition: .3s
    &:hover
      span
        letter-spacing: -10px
        color: transparent
      img
        opacity: 1
      


















