@import "normalize";
/* Custom */
@import "partials/variable";
@import "partials/header";

/*Scrollbar*/
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.2em;
}
::-webkit-scrollbar-track-piece {
  background: #eee;
} 
::-webkit-scrollbar-thumb {
  background: #6E6F72;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}
body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 17px;
  background: url(../img/bg-header.png);
}
.body-hidden {
	overflow: hidden;
	padding-right: 0.25em;
}

.title {
	height: 50px;
  color: #466f8c;
	text-transform: uppercase;
	font-weight: bold;
  font-size: 20px;
	margin: 25px auto;
  text-align: center;
  max-width: 1000px;
  padding-top: 10px;
  cursor: default;
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    left: calc(50% - 150px);
    width: 0; height: 0;
    display:block;
    margin: 10px auto;
    box-sizing: border-box;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 5px solid #466f8c;
  }
}
.btn {
  background-color: #466f8c;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  border: 1px solid #000;
  display: block;
  width: 150px;
  margin: 30px auto 0;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.9);
  outline: none !important;
  
  &:hover {
    background-color: #fff;
    color: #466f8c;
  }
  
  &:active {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.9);
  }
}





/*portolio*/
@import "partials/portfolio";

/*portolio*/
@import "partials/contacts";

/*footer*/
@import "partials/footer";
/* media-queries */
@import "partials/media";