.portfolio {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  
  &__title i {
    height: 32px;
	  width: 32px;
    display:inline-block;
	  background:  url(../img/top-menu.png) no-repeat;
    margin-right: 10px;
    vertical-align: middle;
    background-position: -5px -49px;
  }
  
  &__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 40px;
    border-bottom: 3px solid #707980;
    
    &_views {
      width: 500px;
      position: relative;
      height:  400px;
    }
    
    &_slide1 {
      background: url(../img/comp.png);
      opacity: 0;
    }
    &_slide2 {
      background: url(../img/ipad.png);
      opacity: 0;
    }
    &_slide3 {
      background: url(../img/iphone.png);
      opacity: 0;
    }
    
    &_slide {
      position: absolute;
      width: 100%;
      height: 400px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;	
    }
    
    &:nth-child(even) .portfolio__item_views{
      order: 2;
    }
  }
  
  &__description {
    margin: 0 auto;
    padding: 0 20px;
	  width: 350px;
    
    &_switch {
      max-width: 100%;
      margin: 10px auto;
      text-align: center;
      padding-bottom: 5px;
      border-bottom: 3px solid #707980;
      
      & i {
        width: 37px;
        height: 37px;
        display:  inline-block;
        margin:  0 20px;
        background: url(../img/view.png) no-repeat;
        box-sizing: border-box;
        
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 1px rgba(0,0,0,0.7);
          border-radius: 3px; 
        }
        
        &:active {
          border: 1px solid #ccc;  
        }
      }
      
      &-comp {
        background-position: -129px -3px !important;
        
        &:hover {
          background-position: -87px -3px !important;
        }
      }
      &-ipad {
        background-position: -45px -3px !important;
        
        &:hover {
          background-position: -3px -3px !important;
        }
      }
      &-iphone {
        background-position: -213px -3px !important;
        
        &:hover {
          background-position: -171px -3px !important;
        }
      }
    }
    
    &_link {
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 20px;
      text-decoration: none;
      color: #000;
      
      &:hover {
        color: $text-color;
      }
    }
  }
  
  &-visible {
    opacity: 1;
  }
}



